{% extends 'base.html' %}


{% block title %}
Lista de clientes
{% endblock %}

{% block main %}




<p>Contagem de clientes</p>
  <p class="main-text">{{ client_count }}</p>

    <div>
        <div>

            <h2>Lista de clientes</h2>
            <div>
            </div>

            <table>

                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CNPJ/CPF</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Cidade</th>
                        <th>Bairro</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    {% for client in clients %}
                            <tr>
                                <!-- NAME -->
                                <td>
                                    <a href="{% url 'detail_client' client.id %}">{{ client.client_name }}</a>
                                </td>

                                <!-- CNPJ -->
                                <td>
                                    {% if client.cnpj %}
                                        <a href="{% url 'detail_client' client.id %}">{{ client.cnpj }}</a>
                                    {% elif client.cpf %}
                                        <a href="{% url 'detail_client' client.id %}">{{ client.cpf }}</a>
                                    {% endif %}
                                </td>

                                <!-- E-mail -->
                                <td>
                                    <a href="{% url 'detail_client' client.id %}">{{ client.email_primary }}</a>
                                </td>

                                <!-- PHONE -->
                                <td>
                                    <a href="{% url 'detail_client' client.id %}">{{ client.phone_primary }}</a>
                                </td>

                                <!-- CITY -->
                                <td>
                                    <a href="{% url 'detail_client' client.id %}">{{ client.city }}</a>
                                </td>

                                <!-- NEIGHBORHOOD -->
                                <td>
                                    <a href="{% url 'detail_client' client.id %}">{{ client.neighborhood }}</a>
                                </td>

                                
                                <!-- OPTIONS -->
                                <td>
                                    <a href="{% url 'edit_client' client.id %}">
                                        Editar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>

            </table>


            <a href="{% url 'create_client' %}" class="new-client-icon">
                <button class="cbtn primary">Adicionar cliente</button>
            </a>


        </div>
    </div>


{% endblock %}