<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Promptus{% endblock %}</title>

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<div class="alertbar">
  <b>Definir: </b> O que inserir aqui nesta barra de alertas.
</div>


    <div class="container">

        {% block main %}

        {% endblock %}

    </div>




<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
    const options = {
      bottom: '64px', // default: '32px'
      right: '32px', // default: '32px'
      left: 'unset', // default: 'unset'
      time: '0.5s', // default: '0.3s'
      mixColor: '#fff', // default: '#fff'
      backgroundColor: '#E6E9F3',  // default: '#fff'
      buttonColorDark: '#100f2c',  // default: '#100f2c'
      buttonColorLight: '#fff', // default: '#fff'
      saveInCookies: false, // default: true,
      label: '🌓', // default: ''
      autoMatchOsTheme: true // default: true
    }
    const darkmode = new Darkmode(options);
    darkmode.showWidget();

    window.addEventListener('load', addDarkmodeWidget);
</script>

</body>
</html>
