@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
    BASE    BASE    BASE
*/


* {
    margin: 0;
    font-family:'Montserrat', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E2E7F6;
    --primary-color: #0F71F2;
    --primary: #0F71F2;
    --warning: #F2B544;
    --toggle-color: #aaa;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


a {
  color: red;
  text-decoration: none;
}

body {
    background-color: var(--body-color);
}



/*
    ALERT BAR   ALERT BAR   ALERT BAR   ALERT BAR
*/
.alertbar {
    padding: 20px;
    background-color: #F4F4F4;
    color: #3c3e40;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    display:flex;
    text-align: center;
}


/*
    BUTTTON .cbtn .cbtn .cbtn .cbtn
*/
.cbtn {
     --color: red;
     font-family: inherit;
     display: inline-block;
     width: 8em;
     height: 2.6em;
     line-height: 2.5em;
     margin: 20px;
     position: relative;
     overflow: hidden;
     border: 2px solid var(--color);
     transition: color .5s;
     z-index: 1;
     font-size: 17px;
     border-radius: 50px;
     font-weight: 500;
     color: var(--color);
     cursor: pointer;
     font-size: 14px;
}


.cbtn:before {
     content: "";
     position: absolute;
     z-index: -1;
     background: var(--color);
     height: 150px;
     width: 200px;
     border-radius: 50%;
}

.cbtn:hover {
    color: #fff;
}

.cbtn:before {
     top: 100%;
     left: 100%;
     transition: all .7s;
}

.cbtn:hover:before {
     top: -30px;
     left: -30px;
}

.cbtn:active:before {
     background: #1057B4;
     transition: background 0s;
}

.primary {
    --color: var(--primary);
}

.warning {
    --color: var(--warning);}
}

/*
    CARDS CARDS CARDS CARDS CARDS
*/







/*
    MOBILE CONFIG   MOBILE CONFIG   MOBILE CONFIG   MOBILE CONFIG
*/
