<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    <title>Detalhes do Item</title>
{% endblock %}

{% block main %}
    <h2>Detalhes do Item</h2>
    <table>
        <tr>
            <td><strong>Nome:</strong></td>
            <td>{{ item.name }}</td>
        </tr>
        <tr>
            <td><strong>Quantidade:</strong></td>
            <td>{{ item.stock_set.all.count }}</td>
        </tr>
        <tr>
            <td><strong>Unidade:</strong></td>
            <td>{{ item.unity }}</td>
        </tr>
        <tr>
            <td><strong>Valor:</strong></td>
            <td>{{ item.value }}</td>
        </tr>
        <tr>
            <td><strong>Valor Máximo de Desconto:</strong></td>
            <td>{{ item.max_discount }}</td>
        </tr>
        <tr>
            <td><strong>Descrição:</strong></td>
            <td>{{ item.description }}</td>
        </tr>
    </table>
    
    <a href="{% url 'edit_item' item.id %}">
        <button class="btn btn-primary" id="btn-bg-blue-1">Editar item</button>
    </a>

    <h3>Estoques associados a este item:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tamanho</th>
                <th>Categoria</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th>Desconto máximo</th>
            </tr>
        </thead>
        {% for stock in item.stock_set.all %}            
            <tr>
                <td>
                    <a href="{% url 'edit_stock' stock.id %}"> {{ stock.size.size }}</a>                       
                </td>

                <td>
                    <a href="{% url 'edit_stock' stock.id %}"> {{ stock.category.category }}</a>                     
                </td>

                <td>
                    <a href="{% url 'edit_stock' stock.id %}">{{ stock.quantity }}</a>
                </td>

                <td>
                    <a href="{% url 'edit_stock' stock.id %}">{{ stock.price }}</a>
                </td>

                <td>
                    <a href="{% url 'edit_stock' stock.id %}">{{ stock.max_discount }} %</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'edit_item' item.id %}">
        <button class="btn btn-primary" id="btn-bg-blue-1">Editar item</button>
    </a>
{% endblock %}
