<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    <title>Detalhes do Item</title>
{% endblock %}

{% block main %}
    <h2>Detalhes do Item</h2>
    <table>
        <tr>
            <td><strong>Nome:</strong></td>
            <td>{{ item.name }}</td>
        </tr>
        <tr>
            <td><strong>Quantidade:</strong></td>
            <td>{{ item.stock_set.all.count }}</td>
        </tr>
        <tr>
            <td><strong>Unidade:</strong></td>
            <td>{{ item.unity }}</td>
        </tr>
        <tr>
            <td><strong>Valor:</strong></td>
            <td>{{ item.value }}</td>
        </tr>
        <tr>
            <td><strong>Valor Máximo de Desconto:</strong></td>
            <td>{{ item.max_discount }}</td>
        </tr>
        <tr>
            <td><strong>Descrição:</strong></td>
            <td>{{ item.description }}</td>
        </tr>
    </table>

    <h3>Estoques associados a este item:</h3>
    <ul>
        {% for stock in item.stock_set.all %}
            <li>
                <strong>Size:</strong> {{ stock.size.size }}, <strong>Category:</strong> {{ stock.category.category }}, <strong>Quantity:</strong> {{ stock.quantity }}, <strong>Price:</strong> {{ stock.price }}, <strong>Max Discount:</strong> {{ stock.max_discount }}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'edit_item' item.id %}">
        <button class="btn btn-primary" id="btn-bg-blue-1">Editar</button>
    </a>
{% endblock %}
