{% extends 'base.html' %}

{% block title %}
    Lista de Categorias
{% endblock %}

{% block main %}
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Categorias</div>
        <div class="card-body">
            <h3 class="card-title">{{ size_count }}</h3>
        </div>
    </div>

    <div class="container">
        <div class="container-list" id="one">
            <h2>Lista de Categorias</h2>
            <div></div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Categoria</th>
                        <th>Opções</th>
                    </tr>
                </thead>

                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>
                                <a href="{% url 'edit_category' category.id %}">{{ category }}</a>
                            </td>

                            <td>
                                <a href="{% url 'edit_category' category.id %}">
                                    <button class="btn btn-primary" id="btn-bg-blue-1">Editar</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="add-new-size-btn">
                <a href="{% url 'create_size' %}" class="new-size-icon">
                    <i class="fa-solid fa-plus"></i>
                </a>
                <span class="tooltip">Adicionar novos tamanhos</span>
            </div>
        </div>
    </div>
{% endblock %}
