{% extends "base.html" %}

{% load crispy_forms_tags %}

    {% block main %}
          <h2>Editar empresa</h2>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

              <a href="{% url 'detail_company' company.id %}">
                  <button type="button" class="btn btn-warning" id="btn-bg-red-1">Cancelar</button>
              </a>

            <button type="submit" class="btn btn-primary" id="btn-bg-blue-1">Salvar</button>

          </form>
    {% endblock %}

